Source: jca
Section: java
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7.0.50~), javahelper (>= 0.32~),
               epics-dev,
               openjdk-6-jdk, openjdk-6-doc, ant,
               ant-optional
Standards-Version: 3.9.0
Homepage: http://epics-jca.sourceforge.net/

Package: libjca-java
Architecture: all
Depends: libjca-jni,
         ${java:Depends}, ${misc:Depends}
Recommends: ${java:Recommends}
Suggests: libjca-java-doc (= ${source:Version})
Description: EPICS Channel Access library for Java
 A JNI wrapper for the EPICS client library.

Package: libjca-jni
Architecture: any
Depends: libjca-java (= ${source:Version}),
         ${shlibs:Depends}, ${misc:Depends}
Description: EPICS Channel Access library for Java
 A JNI wrapper for the EPICS client library.
 .
 This package contains the native code

Package: libjca-java-doc
Section: doc
Architecture: all
Description: EPICS Channel Access library for Java
 A JNI wrapper for the EPICS client library.
 .
 This package contains documentation including generated javadoc.
