#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/ant.mk

EPICS_HOST_ARCH:=$(shell /usr/epics/base/startup/EpicsHostArch)

JAVA_HOME := /usr/lib/jvm/java-6-openjdk

# Provides JNI tasks
DEB_JARS += ant-nodeps

DEB_INSTALL_DOCS_libjca-java-doc += doc/*

DEB_INSTALL_DOCS_libjca-java += jcaexample.java

build/libjca-java-doc::
	$(DEB_ANT_INVOKE) doc

clean::
	rm -rf doc/api

install/libjca-java::
	cp O.core/jca.jar jca.jar
	dh_install -p$(cdbs_curpkg) O.$(EPICS_HOST_ARCH)/libjca.so usr/lib

clean::
	rm -f jca.jar

binary-fixup/libjca-java::
	jh_installlibs -v -p$(cdbs_curpkg)
	jh_depends -v -p$(cdbs_curpkg)
