#!/usr/bin/make -f

#export DH_VERBOSE=1

EPICS_HOST_ARCH:=$(shell /usr/epics/base/startup/EpicsHostArch)

export JAVA_HOME := /usr/lib/jvm/java-6-openjdk
export CLASSPATH=

%:
	dh --with javahelper $@

override_dh_auto_build:
	ant build build.doc

override_dh_auto_install:
	dh_install -plibjca-jni O.$(EPICS_HOST_ARCH)/libjca.so usr/lib/jni/

override_dh_auto_clean:
	ant clean clean.doc
